<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/landing/styles.css">
</head>
<%- include('partials/nav.ejs') %>
    <main>
      <div class="main-img-wrapper">
        <img class="main-img" src="/landing/tenantguard-mission.jpg" alt="" />
        <div class="main-img-caption-wrapper">
          <h1 class="main-img-caption">Welcome to TenantGuard!</h1>
          <p class="main-img-subcaption">
            A useful chat bot aimed at helping and providing resources to those in need.
          </p>
          <a class="main-img-button" href="/chat">Chat</a>
        </div>
      </div>
    </main>
</body>