/*  
* Chatbot Absolute Container Styles
*/

.chatbot-abs-container {
  width: 60vw;
  min-height: 60vh;
  margin: auto;
  margin-top: 30px;
}

/*  
* Chatbot Bubbles 
*/

.chatbot-bubble-container {
  min-height: 30vh;
  background-color: #d9d9d9;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}

.chat-bubble {
  border-radius: 18px;
  max-width: 60%;
  margin: 5px;
}

.chat-bubble p {
  margin-left: 5px;
  font-size: 0.95rem;
  padding: 0.6rem 1rem;
}

.chatbubble-from-bot {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.chatbubble-from-user {
  background-color: #00d712;
  align-self: flex-end;
}

/*
* Chatbot Input Styles  
*/

.chatbot-input-container {
  padding: 2px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.chatbot-input {
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.chatbot-send-button {
  background-color: #00d712;
  color: white;
  padding: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}


/* Survey Styling */
/* TODO: Work on survey styling
/* TODO: Work on responsive styling for survey
 */

form.tenantguard-survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

form.tenantguard-survey label {
  margin: 7px 0px;
}

form.tenantguard-survey input {
  max-width: 80%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

form.tenantguard-survey input[type="submit"] {
  background-color: #00d712;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
}