
/* Homepage Styling */

.main__img {
  object-fit: cover;
  filter: brightness(30%);
  width: 100%;
  height: 96.315vh;
  
}

.main-img-caption__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Position over image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-img-caption__mainheader,
.main-img-caption__subheader {
  text-align: center;
  margin: 10px 0px;
  color: white;
}

.main-img-caption__mainheader {
  font-size: 3rem;
}

.main-img-caption__subheader {
  font-size: 1.10rem;
}

.main-img__button {
  background-color: var(--tenantguard-main);
  color: white;
  text-decoration: none;
  padding: 15px 40px;
  border: none;
  border-radius: 12px;
}

.main-img__button:hover {
  background-color: var(--tenantguard-main-lighter);
}
