  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-logo">
          <a class="navbar-logo__link" href="/"
            ><img
              alt="lady helping homeless man"
              class="navbar-logo__img"
              src="/landing/tenantguard-logo.png"
          /></a>
        </div>
        <div class="navbar-controls">
          <a class="navbar-controls__item active-navbar-control" href="/"
            >Home</a
          >
          <a class="navbar-controls__item" href="/chat">Chat</a>
          <a class="navbar-controls__item" href="/about">About</a>
        </div>
      </nav>
    </header>