  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/homepage/about.css">
</head>
<%- include('partials/nav.ejs') %>
<section class="faq-section__container">
  <h1 class="faq-section__header">FAQ</h1>

  <div class="faq-question-list__container">
  </div>
</section>
<script src="/js/about.js"></script>
<%- include('partials/end.ejs') %>
