  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/homepage/styles.css">
</head>
<%- include('partials/nav.ejs') %>
 <main>
  <div class="main__container">
    <img class="main__img" src="/imgs/tenantguard-mission.jpg" alt="lady helping homeless man.">
    <div class="main-img-caption__container">
      <h1 class="main-img-caption__mainheader">Welcome to TenantGuard!</h1>
      <p class="main-img-caption__subheader">A useful chat bot aimed at helping and providing resources to those in need.</p> 
      <a class="main-img__button" href="/chat">Chat</a>
    </div> 
  </div>
 </main> 
<%- include('partials/end.ejs') %>
